body {
  margin-top:40px;
  margin-left:160px;
  margin-right:160px;
  margin-bottom:0px;
  /*font-family: 'Lora', serif;*/
  /*background-color: rgb(227,247,246);
  animation-name: fade;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;*/

}

@keyframes fade {
  from {background-color: white;}
  to {background-color: rgb(218,253,235);}
}
text {
    font-family: 'Montserrat', sans-serif;
   font-weight: 300;
}

table {  
    color: #333;
    font-family: 'Roboto', Arial, sans-serif; 
    border-collapse: collapse; 
    min-width:300px;
    border-spacing: 0; 
}

td, th {  
    border: 1px solid transparent; /* No more visible border */
    height: 30px; 
    transition: all 0.3s;  /* Simple transition for hover effect */
}

th {  
    background: rgb(128,175,244);  /* Darken header a bit */
    font-weight: bold;
}

td {  
    background: #FAFAFA;
    text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */        
tr:nth-child(even) td { background: #D2E4FE; }   

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */        
tr:nth-child(odd) td { background: #C1D9FE; }  

tr td:hover { background:rgb(128,175,244); color: #FFF; }  
/* Hover cell effect! */

.textLayoutContainer {
  height: 185px;
}

.invisibleElement {
  height: 0px;
  opacity: 0;
}

.textBoxTest {
  height: 185px;
}

.interactiveBox {
  height: 40%;
}

/*CheckBox*/
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.changeSlide {
  position:relative;
  min-height: 20px;
  height: auto;
  width: auto;
  margin-bottom:60px;
  top:40%;
}


.footer {
  text-align:center;
  align-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: white;
  background-color:#222;
  position: fixed;
  bottom:0;
  left:0;
  width: 100%;
}
.center {

  align-content: center;
 	text-align: center;
  margin-left:175px;
  margin-right:175px;
  font-family: Montserrat;
  font-size: 120%;
  -webkit-text-stroke: 0.3px;
}
.left {
  align-content: left;
  text-align: left;
    margin-left:175px;
    margin-right:175px;
    font-family: Montserrat;
    font-size: 20px;
}


.button {
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 5px;
  padding-top: 5px;
  padding-bottom:5px;
  display:block;
  background-color: white;
  color: black;
  border:2px solid #4F84C4;
  text-align:center;
  transition-duration:0.3s;
  font-size: 20px;
  margin-right: 20px;
  margin-left: 20px;
}


.button:hover {
  color:white;
  background-color: #4F84C4;

}

.resetButton {
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 8px;
  padding-top: 8px;
  padding-bottom:8px;
  display:block;
  background-color: white;
  color: black;
  border:2px solid Tomato;
  text-align:center;
  transition-duration:0.3s;
  font-size: 20px;
  font: Times New Roman
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 15px;
}

.resetButton:hover {
  cursor: pointer;
  color:white;
  background-color: Tomato;

}

.goButton {
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 8px;
  padding-top: 8px;
  padding-bottom:8px;
  display:block;
  background-color: white;
  color: black;
  border:2px solid #79C753;
  text-align:center;
  transition-duration:0.3s;
  font-size: 20px;
  font: Times New Roman
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 15px;
}

.goButton:hover {
  cursor: pointer;
  color:white;
  background-color: #79C753;

}

.disabledButton {
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 8px;
  padding-top: 8px;
  padding-bottom:8px;
  display:block;
  background-color: white;
  color: black;
  border:2px solid #9F9C99;
  text-align:center;
  margin-right: 20px;
  margin-left: 20px;
  cursor: no-drop;
}

.nodeSlider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-bottom: 20px;
  margin-top: 20px;
}

.nodeSlider:hover {
  opacity: 1;
}

.nodeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.nodeSlider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.sideBar {
  padding-left: 20px;
  padding-right: 20px;
  padding-top:15px;
  padding-bottom:15px;
  border: 1.5px solid #1E90FF; /*Dodger Blue*/
  border-radius: 15px;
  align-content:center;
  margin:10px;
  background: #FFF;

}